body, html {
    background-color: white;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 99999999999999999999999;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #E43C40;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
}

.nav_ul, #title_ul, #git_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.nav_li, #title_li, #git_li {
    display: block;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

.nav_li_y, .nav_li_d {
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding: 80px 10px;
    width: auto;
    margin-left: -220px;
    color: #868686;
}

.nav_li_d {
    margin-left: -140px;
}

#additionally, #menu {
    position: relative;
    display: block;
    float: right;
    padding: 14px 5px;
    margin-right: 2%;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#dropdown_country {
    position: relative;
    display: block;
    float: right;
    padding: 14px 5px;
    margin-right: 20%;
    z-index: 1;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#additionally:active {
    color: #676767;
}

#menu {
    transform: rotate(89deg);
    font-weight: bold;
}

#menu:active {
    color: #676767;
}

#additionally, #menu:hover {
    cursor: pointer;
}

#nav_menu {
    display: none;
    opacity: 0;
    position: relative;
    float: right;
    -webkit-box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: auto;
    margin-right: -100px;
    margin-top: 100px;
    cursor: pointer;
    z-index: 10;
    background-color: white;
}

.nav_menu_li {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    width: 127%;
    display: block;
    z-index: 2;
    transition: 0.1s;
    padding-right: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav_menu_li:active {
    transition: 0.1s;
    background-color: #F5F5F5;
}

#events_list {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#go_to {
    border-radius: 0;
}

#settings {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes open_menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes close_menu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#nav_days {
    width: 100%;
    height: auto;
    position: relative;
}

#nav_days_ul {
    position: absolute;
    margin-top: 100px;
}

#calendar_body {
    position: absolute;
    margin-top: 180px;
}

#left_calendar_body {
    position: absolute;
    margin-top: 180px;
    display: none;
}

#right_calendar_body {
    position: absolute;
    margin-top: 180px;
    display: none;
}

@keyframes left_to_center {
    0% {
        margin-left: -200%;
        margin-top: 180px;
    }
    100% {
        margin-left: -280px;
        margin-top: 180px;
    }
}

@keyframes right_to_center {
    0% {
        margin-left: 200%;
        margin-top: 180px;
    }
    100% {
        margin-left: -280px;
        margin-top: -280px;
    }
}

@keyframes center_container_to_right {
    0% {
        margin-left: -280px;
        margin-top: 180px;
    }
    100% {
        margin-left: 100%;
        margin-top: 180px;
    }
}

@keyframes center_container_to_left {
    0% {
        margin-left: -280px;
        margin-top: 180px;
    }
    100% {
        margin-left: -200%;
        margin-top: 180px;
    }
}

@keyframes calendar_body_swipe_to_left {
    0% {
        margin-top: 10px;
        margin-left: -230px;
    }
    100% {
        margin-top: 10px;
        margin-left: -200%;
    }
}

@keyframes calendar_body_swipe_to_right {
    0% {
        margin-top: 10px;
        margin-left: -200%;        
    }
    100% {
        margin-top: 10px;
        margin-left: -230px; 
    }
}

.cell_div, .cell_div_selected:hover {
    cursor: pointer
}

#Sun, #Sat {
    font-weight: 100;
    color: #857D6C;
}

#Sat {
    margin-left: 20px;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.cell_div, .date-picker, .day, #buttons_div, .option-choose, #back, #next, #get_current_date, #month_name, #month_day, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#about {
    background-color: white;
    width: 50%;
    height: 50%;
    position: fixed;
    display: none;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
}

#about_li {
    display: block;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

#about_ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 23%;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    color: #231A6A;
}

#git_div {
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(10%, -50%);
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    z-index: 11;
}

#canvas_cal {
    z-index: 10;
    filter: blur(0rem);
    /*pointer-events: all;*/
}

@keyframes blur_background {
    0% {
        filter: blur(0rem);
    }
    100% {
        filter: blur(1rem);
    }
}

@keyframes sharp_background {
    0% {
        filter: blur(1rem);
    }
    100% {
        filter: blur(0rem);
    }
}

#background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#go-to-div {
    background-color: white;
    min-width: 50%;
    width: auto;
    height: 60%;
    display: none;
    position: fixed;
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#choose_date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    margin-right: 100px;
    /*background:linear-gradient(180deg, white, white 60%, transparent 100%)*/
}

#opacitylow_bottom {
    position: absolute;
    bottom: 4em;
    height: 110px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, 0%);
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
}

#opacitylow_top {
    position: absolute;
    bottom: 4em;
    height: 190px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -100%) rotate(180deg);
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
}

#month_div, #day_div, #year_div {
    width: 200px;
    transform: rotate(90deg);
}

.option-choose-month, .option-choose-monthday, .option-choose-year {
    transform: rotate(-90deg);
    top: 60px;
}

.column {
    padding-left: 150px;
    padding-top: 50px;
    margin-top: 100px;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    display: block;
    overflow-x: hidden;
    width: 50px;
    height: 200px;
    padding-right: 100px;
    position: relative;
    scroll-behavior: smooth;
}

#buttons_comfirm_div {
    display: flex;
    flex-direction: row;
}

#left_buttons_div {
    display: flex;
    flex-grow: 1;
}

#buttons_div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
    transform: translate(12.5%, 100%);
}

#right_buttons_div {
    display: flex;
    flex-grow: 2;
}

#cancel {
    color: #2774E7;
}

#ok {
    color: #D55D52;
    margin-left: 150px;
}

#cancel, #ok, .option-choose:hover {
    cursor: pointer;
}

#cancel:active {
    background-color: #F2F2F2;
}

#ok:active {
    background-color: #F2F2F2;
}

#cancel, #ok {
    border-radius: 10px;
    height: auto;
    padding: 0 70px 0 70px;
}

#selected_date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #939393;
}

#div_back_next {
    position: fixed;
    width: 99.5%;
    height: 100%;
    display: flex;
    pointer-events: none;
    z-index: 10;
}

#back {
    font-size: 60px;
    float: left;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    margin-left: -7px;
}

#back_first {
    display: flex;
    flex-grow: 1;
}

#back_center {
    display: flex;
}

#back_second {
    display: flex;
    flex-grow: 1;
}

#center {
    display: flex;
    flex-grow: 1;
    pointer-events: none;
}

#next {
    font-size: 60px;
    float: left;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

#next_first {
    display: flex;
    flex-grow: 1;
}

#next_center {
    display: flex;
}

#next_second {
    display: flex;
    flex-grow: 1;
}

#back, #next {
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    transition: 0.1s;
    cursor: pointer;
}

#back:active {
    background-color: #F2F2F2;
}

#next:active {
    background-color: #F2F2F2;
}

#get_current_date {
    background-color: #D5D5D5;
    width: 100px;
    height: 100px;
    border-radius: 99999px;
    position: relative;
    display: none;
    flex-direction: column;
    float: right;
    bottom: 3%;
    left: 92%;
    align-self: flex-end;
    cursor: pointer;
    z-index: 10;
}

#get_current_date_first {
    display: flex;
    flex-grow: 1;
}

#text_current_date_center {
    display: flex;
    text-align: center;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    justify-content: center;
    color: white;
}

#get_current_date_second {
    display: flex;
    flex-grow: 1;
}

.flickity-viewport {
    height: 100px;
}

#events_container {
    position: absolute;
    display: none;
    width: 94%;
    min-height: 70%;
    height: auto;
    margin-left: 200%;
    margin-top: 150px;
    background-color: white;
}

@keyframes slide_events_container {
    0% {
        margin-left: 200%;
    }
    100% {
        margin-left: 3%;
    }
}

@keyframes slide_events_container_back {
    0% {
        margin-left: 3%;
    }
    100% {
        margin-left: 200%;
    }
}

.country_container {
    margin-top: 5%;
    margin-left: 5%;
}

#ico_title_country {
    display: flex;
}

.title_country {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 1%;
}

#title_container {
    width: 100%;
    text-align: center;
}

[scope="col"] {
    font-family: "Roboto", serif;
    font-size: 40px;
}

#table_event_container {
    margin-top: 50px;
}

#event_tbody {
    margin-left: 100px;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}

#dropdown_list_ul {
    margin-left: -40px;
}

#dropdown_country_title {
    float: right;
    display: inline;
    position: absolute;
    margin-top: -5%;
    white-space: nowrap;
    margin-left: 25%;
    padding-top: 30px;
    font-size: 50px;
    pointer-events: none;

}

#dropdown_country_title_list {
    float: right;
    display: inline;
    position: absolute;
    margin-top: -5%;
    white-space: nowrap;
    margin-left: 2%;
    padding-top: 30px;
    font-size: 50px;
    pointer-events: none;
}

#dropdown_list_ul:hover {
    cursor: pointer;
}

#dropdown_country {
    position: absolute;
    left: 70%;
    width: 370px;
    z-index: 10;
    min-height: 50px;
    height: auto;
    background-color: transparent;
    /*display: none;*/
    /*pointer-events: none;*/

    /*	-webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    */
    border-radius: 10px;
}

#dropdown_country:hover {
    cursor: pointer;
}

#ico_country {
    margin-left: 2%;
    pointer-events: none;
}

#ico_country_current {
    margin-left: 2%;
    pointer-events: none;
}

#selected_country {
    display: flex;
    align-items: baseline;
    pointer-events: all;
}

#selected_country:active {
    transition: 0.1s;
    background-color: #F5F5F5;
    border-radius: 10px;
}

#nav_li {
    transition: 0.1s;
    background-color: #F5F5F5;
}

/*
	display: inline;
	position: absolute;
	margin-top: -30%;
	white-space: nowrap;
	background-color: white;
	margin-left: 20%;
	padding-top: 30px;
}
*/

#events_container {
    z-index: -1;
    margin-left: 3%;
    display: block;
}

#ico_cal_current_date_btn {
    position: absolute;
    margin-top: -40px;
}

#text_current_date_content {
    margin-top: -22px;
    position: absolute;
    font-size: 50px;
    text-align: center;
    margin-left: -3px;
}
