<!DOCTYPE html>
<html lang="en">
<head>
	<title>Calendar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/flickity@2.0.11/dist/flickity.css">
	<!--<script src="{{ url_for('static', filename='js/flickity-verticalCarousel/flickity.pkgd.js') }}"></script>-->
</head>
<noscript><p>JS support not enabled!</p></noscript>
<body id='body'>
	<div class="preloader" id='preloader-div'>
	    <div class="preloader__row">
			<div class="preloader__item"></div>
			<div class="preloader__item"></div>
		</div>
	</div>
	<div id='canvas_cal'>
		<div id='nav'>
				<ul id='nav_ul'>
					<li id='month_name' class='nav_li'></li>
					<li id='month_day' class='nav_li'></li>	
					<li id='menu' class='nav_li'>...</li>
					<li id='additionally' class='nav_li'>+</li>
					<li style='z-index: 10;text-decoration: none;display:block;'>
						<div id='nav_menu'>
							<ul class='nav_ul' id='elem_menu'>
								<li class="nav_menu_li" id='events_list'>Events list</li>
								<li class="nav_menu_li" id='go_to'>Go to</li>
								<li class="nav_menu_li" id='settings'>About</li>
							</ul>
						</div>
					</li>
					<li id='dropdown_country' class="nav_li">
						<div id='selected_country'>
							<img id='ico_country_current' src="https://image.flaticon.com/icons/png/512/330/330540.png" width="80" height='80'>
							<p id='dropdown_country_title' class='ua'>Ukraine</p>												
						</div>

					</li>

				</ul>
				<ul class='container_year_day'><li id='year' class='nav_li_y'></li><li id='day_identificator' class='nav_li_d'>Today</li></ul>
			</div>
			<table id='calendar' class='table_calendar'>
				<thead id='calendar_head'>
					<tr id='nav_days_ul'></tr>
				</thead>
				<tbody id='left_calendar_body'></tbody>
				<tbody id='calendar_body' style='position:absolute;margin-top:180px;margin-left:-280px;'></tbody>
				<tbody id='right_calendar_body'></tbody>
			</table>
	</div>
	<div id='div_back_next'>
		<div id='back' onclick="back()">
			<div id='back_first'></div>
				<div id='back_center'><</div>
			<div id='back_second'></div>
		</div>
		<div id='center'></div>
		<div id='next' onclick="next()">
			<div id='next_first'></div>
			<div id='next_center'>></div>
			<div id='next_second'></div>
		</div>
	</div>

	<div id='background' onclick="closeAll()"></div>
	<div id='about'>
		<ul id='about_ul'>
			<li class='about_li'>
				<div id='title_div'>
					<ul id='title_ul'>
						<li id='title_li'><p>Calendar Surf <b>v1.0</b></p></li>
					</ul>
				</div>
			</li>
			<li id='about_li'>
				<div id='git_div'>
					<ul id='git_ul'>
						<li id='git_li'><a href="https://github.com/KR1470R/CalendarSurf">Git Repository</a></li>
					</ul>
				</div>
			</li>
		</ul	>
	</div>
	<div id='got_to_div'>
		<div id='choose_date'>
			<!--
			<div id='selected_date' style='display: none;'>
				<p id='selected_month'>Mar</p>
				<p id='selected_day'>21</p>
				<p id='selected_year'>1991</p>
			</div>-->
			<div id='month_div' class='column' data-flickity='{
              "percentPosition": false,
              "groupCells": 1,
              "pageDots": false,
              "prevNextButtons":false,
              "contain":true,
              "setGallerySize":false,
              "wrapAround":true
            }'></div> 
			<!--<div id='month_div' class='column'></div>-->
			<div id='day_div' class='column' data-flickity='{
              "percentPosition": false,
              "groupCells": 1,
              "pageDots": false,
              "prevNextButtons":false,
              "contain":true,
              "setGallerySize":false,
              "wrapAround":true,
              "adaptiveHeight":true	
            }'></div>
			<div id='year_div' class='column' data-flickity='{
              "percentPosition": false,
              "groupCells": 1,
              "pageDots": false,
              "prevNextButtons":false,
              "contain":true,
              "setGallerySize":false,
              "dragThreshold":100,
              "wrapAround":true	
            }'></div>
			<div id='opacitylow_top'></div>
			<div id='opacitylow_bottom'></div>
		</div>
		<div id='buttons_comfirm_div'>
			<div id='left_buttons_div'></div>
			<div id='buttons_div'>
				<div id='cancel' onclick="closeAll()">Cancel</div><div id='ok' onclick="goto()">OK</div>
			</div>
			<div id='right_buttons_div'></div>
		</div>

	</div>
	<div id='get_current_date'>
		<div id='get_current_date_first'></div>
		<div id='text_current_date_center'></div>
		<div id='get_current_date_second'></div>
	</div>	
	<div id='events_container'>
<!--		<select id='country_select'>
			<option style='background-image:url("https://image.flaticon.com/icons/png/512/330/330540.png");'>
				Ukraine
				<span class='country_ico'><img src="https://image.flaticon.com/icons/png/512/330/330540.png" width="150" height='150'></span>
			</option>
			<option>
				Russia
				<span class='country_ico'><img src="https://image.flaticon.com/icons/png/512/330/330437.png" width="150" height='150'></span>
			</option>
			<option>
				Belarus
				<span class='country_ico'><img src="https://image.flaticon.com/icons/svg/330/330550.svg" width="150" height='150'></span>
			</option>
			<option>
				Uzbekistan
				<span class='country_ico'><img src="https://image.flaticon.com/icons/png/512/330/330495.png" width="150" height='150'></span>
			</option>
			<option>
				USA
				<span><img src="https://image.flaticon.com/icons/png/512/330/330459.png" width="150" height='150'></span>
			</option>
		</select>
-->
	</div>
<!--
		<div class='country_container' id='usa_container'>
			<img src="https://image.flaticon.com/icons/png/512/330/330459.png" width="150" height='150'>
			<p>USA Events</p>
		</div>
	</div>
-->
</body>
<script type="text/javascript" src='{{ url_for("static", filename="js/interface_logic.js") }}'></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<script type="text/javascript" src='https://unpkg.com/flickity@2.0.11/dist/flickity.pkgd.js'></script>
<script type="text/javascript" src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
</html>