<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div id='nav'>
	<ul id='nav_ul'>
		<li id='month_name' class='nav_li'>Apr</li>
		<li id='month_value' class='nav_li'>14</li>
		<li id='menu' class='nav_li'>...</li>
		<li id='additionally' class='nav_li'>+</li>
	</ul>
	<div id='nav_menu'>
		<ul class='nav_ul'>
			<li class="nav_menu_li">Events list</li>
			<li class="nav_menu_li">Go to</li>
			<li class="nav_menu_li">Settings</li>
		</ul>
	</div>
</div>
</body>
</html>